<!--  footer  -->
<div class="footer">
    <div class="footer-info">
        <p>“Русавтолак”<br/>
            Официальный дистрибьютор бытовой<br/>
            химии HG на территории РФ<br/>
            <a href="https://www.rusautolack.ru" target="_blank">www.rusautolack.ru</a><br/>
            <a href="mailto:info@rusautolack.ru">info@rusautolack.ru</a>
        </p>
    </div>

    <div class="footer-soc">
        <a class="soc_ico fb" href="#"></a>
        <a class="soc_ico vk" href="#"></a>
        <a class="soc_ico ok" href="#"></a>
    </div>
</div>