<!--  footer  -->
<footer>
    <div class="footer">
        <div class="footer-info">
            <p>
                <a href="http://www.rusautolack.ru" target="_blank" rel="nofollow">ООО «Русавтолак»</a><br/>
                Официальный дистрибьютор бренда HG на территории РФ<br/>
                <a href="http://www.rusautolack.ru" target="_blank">www.rusautolack.ru</a> -
                <a href="mailto:info@rusautolack.ru">info@rusautolack.ru</a>
            </p>
        </div>

        <div class="user-agreement">
            <a href="{{ path('application_base_default_user_agreement') }}">Соглашение с пользователем</a><br />
            <a href="{{ path('application_base_default_table_scores') }}">Система начисления баллов</a>
        </div>

        <div class="footer-soc">
            <a class="soc_ico fb" href="https://www.facebook.com/HGrussia" target="_blank"></a>
            <a class="soc_ico vk" href="https://vk.com/hg_rus" target="_blank"></a>
            <a class="soc_ico ok" href="http://ok.ru/group/51834300596438" target="_blank"></a>
        </div>
    </div>

    {% block yandexMetrika %}
        {{ include('ApplicationBaseBundle::yandex_metrika.html.twig') }}
    {% endblock %}

</footer>