{% extends '::layout.html.twig' %}


{% block content %}

    <div class="content_main">
        <div class="content-text">
            <div style="background-color: white; padding: 30px 0;">

                <h1 class="text-center">Система начисления баллов</h1>

                <div style="padding: 0 120px;">
                    <table width="100%" class="tab-scores">
                        {% for key, score in tableScores %}
                            <tr {% if loop.index % 2 == 0 %} class="odd"{% endif %}>
                                <td>{{ score.description |trans }}</td>
                                <td width="100" align="center"><span class="points">{{ score.points }} {% if key == 'checks_base' %}балл. за 10 руб.{% endif %}</span></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}
