{% extends '::layout.html.twig' %}


{% block content %}

    <div class="content_main">

        <div class="content-text">

            <h1>Пользовательское Соглашение и Правила участия в клубе</h1>

            <h4>1. ОБЩИЕ УСЛОВИЯ</h4>
            <p>1.1.Настоящее пользовательское соглашение (далее – «Соглашение») определяет условия использования физическим лицами (далее – «Пользователями») сайта http://club.hg-product.ru/(включая всю содержащуюся на нем аудио-, видео-, графическую и текстовую информацию (далее – «Материалы»), сервисы и иное программное обеспечение) (далее — «Сайт»), а также регламентирует отношения между администрацией Сайта (далее — «Администрация») и Пользователем по размещению на Сайте и (или) использованию любых Материалов Сайта.</p>

            <p>1.2. Использование Сайта регулируется положениями настоящего Соглашения и нормами действующего законодательства Российской Федерации.</p>

            <p>1.3. Пользователь обязан полностью ознакомиться с настоящим Соглашением до момента регистрации на Сайте. Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем настоящего Соглашения в соответствии со ст. 438 Гражданского кодекса Российской Федерации.</p>

            <p>1.4. При регистрации на Сайте Пользователь обязан предоставить Администрации Сайта достоверную и актуальную информацию о себе.  Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие законодательству Российской Федерации предоставленной при регистрации информации от претензий третьих лиц.</p>
            <p>1.5. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения без какого-либо специального уведомления. Любые изменения Соглашения вступают в силу с момента опубликования новой редакции Соглашения. Действующая редакция Соглашения опубликована на Сайте - по адресу http://club.hg-product.ru/.</p>
            <p>1.6. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.</p>
            <p>1.7. Исключительные права на Сайт, включая все его содержание (Материалы и сервисы) принадлежат ООО «Русавтолак». Использование Пользователем любых материалов и сервисов Сайта осуществляется исключительно в соответствии с положениями настоящего Соглашения.</p>

            <h4>2. ОБЯЗАТЕЛЬСТВА ПОЛЬЗОВАТЕЛЯ</h4>
            <p>2.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.</p>
            <p>2.2. Использование материалов Сайта без письменного согласия правообладателей не допускается.</p>
            <p>2.3. Комментарии и иные записи Пользователя, а равно размещаемые им на Сайте материалы не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.</p>
            <p>2.4. Пользователь не вправе размещать на Сайте материалы рекламного характера.</p>
            <p>2.5. Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на Сайте.</p>
            <p>2.6. Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрацией прав интеллектуальной собственности и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.</p>
            <p>2.7. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.</p>

            <h4>3. УСЛОВИЯ РАЗМЕЩЕНИЯ МАТЕРИАЛОВ НА САЙТЕ</h4>
            <p>3.1. Все Материалы, размещаемые Пользователем на Сайте, подлежат предварительной проверке Администрацией.</p>
            <p>3.2.Автор, принявший условия настоящего Соглашения, разместивший или приславший Материалы для размещения на Сайте, безвозмездно (без выплаты какого-либо вознаграждения) тем самым предоставляет ООО «Русавтолак»право на использование таких материалов любым не запрещенным законом способом, без каких-либо ограничений по территории, сроку, продолжительности и объему использования.</p>
            <p>3.3. Администрации вправе использовать Материалы и/или их отдельные части (фрагменты) любыми способами (в т.ч. с указаниемили без указания имени автора), в любой форме в любых целях, в том числе, без ограничения, в рекламных, имиджевых и промо роликах, анонсах, спонсорских заставках, макетах, рекламных модулях и т.д., а также соглашается с тем, что Администрация вправе размещать на страницах, содержащих Материалы Автора, рекламные баннеры и объявления, в том числе третьих лиц, модифицировать и перерабатывать Материалы, а также использовать присланные Материалы в иных коммерческих целях.</p>
            <p>3.4. Пользователь, размещающий на Сайте Материалы гарантирует, что обладает всеми необходимыми правами использовать эти Материалы и разрешать его использование (распоряжаться Материалами) в соответствии с условиями настоящего Соглашения, и несет всю ответственность за его размещение и использование. Пользователь гарантирует, что размещение Материалов на Сайте и дальнейшее их использование не нарушает ни личных, ни имущественных прав других лиц, включая, но не ограничиваясь, авторские, смежные, патентные права, права на неприкасаемость частной жизни, на охрану изображений, на защиту чести, достоинства и доброго имени и т.д. В случае возникновения ситуаций, при которых у Администрации возникнут сомнения в том, что Пользователь является обладателем прав на размещаемые им Материалы, Администрация вправе по своему усмотрению удалить уже размещенные Материалы без уведомления об этом Пользователя.</p>
            <p>3.5. Ответственность за несанкционированное копирование и использование Материалов несут лица, неправомочно разместившие и (или) использовавшие Материалы, опубликованные на Сайте.</p>
            <p>3.6. Размещаемые на Сайте Материалы не должны содержать:</p>
            <p>3.6.1. Материалы, которые нарушают действующие нормативно-правовые акты Российской Федерации, являются вредоносными, угрожающими, оскорбляющими нравственность, честь и достоинство, права и охраняемые законом интересы третьих лиц, клеветническими, нарушающими авторские права, пропагандирующими ненависть и/или дискриминацию людей по расовому, этническому, половому, социальному признакам, способствующие разжиганию религиозной, расовой или межнациональной розни, содержащие сцены насилия, либо жестокого обращения с животными, и т.д.;</p>
            <p>3.6.2. Ущемления прав меньшинств;</p>
            <p>3.6.3. Выдачу себя за другого человека или представителя организации и/или сообщества без достаточных на то прав, в том числе за сотрудников Администрации Сайта, а также введения в заблуждение относительно свойств и характеристик каких-либо субъектов или объектов;</p>
            <p>3.6.4. Материалы, которые затрагивают какой-либо патент, товарный знак (торговую марку), коммерческую тайну, права собственности (в т.ч. права интеллектуальной собственности) третьей стороны;</p>
            <p>3.6.5. Умышленного или случайного нарушения каких-либо применимых нормативно-правовых актов;</p>
            <p>3.6.6. Сбора и хранения персональных данных других пользователей;</p>
            <p>3.6.7.Несогласованной передачи записей рекламного, коммерческого или агитационного характера;</p>
            <p>3.6.8.Рекламы наркотических средств;</p>
            <p>3.6.9.Записи в чей-либо адрес, содержащие грубые и оскорбительные выражения и предложения.</p>
            <p>3.7. Администрация имеет право отказать Автору (заблокировать Пользователя) в размещении Материалов, а также удалить Материалы по своему усмотрению. При этом Администрация не обязана уведомлять Автора о причинах такого отказа, удаления.</p>
            <p>3.8. Пользователь соглашается с тем, что он несет полную ответственность в отношении размещаемых им Материалов на Сайте. Администрация не несет ответственности за содержание Материалов и за соответствие их требованиям действующих нормативно-правовых актов, за нарушение авторских прав, несанкционированное использование товарных знаков, коммерческих обозначений и т.д., а также за возможные нарушения прав третьих лиц в связи с размещением Материалов на Сайте и/или их использованием в соответствии с условиями настоящего Соглашения. В случае поступления претензий от третьих лиц, связанных с размещением Материалов на Сайте и/или их использованием, Пользователь самостоятельно и за свой счет урегулирует указанные претензии.</p>
            <p>3.9. Администрация старается обеспечивать бесперебойную работу Сайта, однако не несет ответственности за полную или частичную утрату Материалов, размещаемых Автором, а также за недостаточное качество или скорость предоставления услуг по размещению и просмотру Материалов.</p>
            <p>3.10. Пользователь или иное лицо, считающий, что его права и интересы нарушены из-за действий Администрации или третьих лиц в связи с размещением на Сайте каких-либо Материалов, направляет Администрации претензию по адресу info@rusautolack.ru.</p>
            <p>3.11. Администрация Сайта может по своему усмотрению в любое время и по любой причине отказать Пользователю в доступе к Сайту или к отдельным его материалам и сервисам, в том числе, если посчитает, что Пользователь нарушил положения настоящего Соглашения. Настоящим Пользователь соглашается с тем, что доступ или пользование Сайтом могут быть прекращены без предварительного уведомления, а также, что Администрация Сайта может немедленно заблокировать или удалить его учетную запись (логин и пароль), все связанные с ней материалы и файлы и/или последующий доступ к этим материалам и файлам.</p>

            <h4>4. СИСТЕМА НАКОПЛЕНИЯ БАЛЛОВ. БОНУСЫ</h4>
            <p>4.1. За использование Сайта Пользователю начисляются баллы по следующимправилам:</p>
            <p>4.1.1 За регистрацию на сайте 20 баллов.</p>
            <p>4.1.2. За составление отзыва о продукте HG 10 баллов.</p>
            <p>4.2. При достижении Пользователем _____ баллов, Пользователю предоставляется ___________.</p>
            <p>4.3. При участии Пользователя в конкурсах, акциях, проводимых на Сайте, Пользователь, объявленный победителем, получает приз или иное бонус на условиях, оговоренных в Правилах проведения конкурса или акции.</p>
            <p>4.4. В случае, если Пользователю причитается приз или иное имущество, Администрация обязуется организовать его доставку Пользователю в течение 60 дней. При этом Администрация не несет ответственность за сохранность данного имущества  в процессе его доставки Пользователю. В случае повреждение такого имущества Пользователь вправе самостоятельно предъявить претензии соответствующему лицу, обеспечивающему доставку груза.</p>

            <h4>5. ПРОЧИЕ УСЛОВИЯ</h4>
            <p>5.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.</p>
            <p>5.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрацией Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.</p>
            <p>5.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.</p>
            <p>5.4. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.</p>
            <p>5.5. Обработка персональных данных Пользователя осуществляется в соответствии с законодательством Российской Федерации. Администрация Сайта обрабатывает персональные данные Пользователя в целях предоставления Пользователю доступа к использованию функционала Сайта.  Администрация Сайта принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения. Администрация предоставляет доступ к персональным данным Пользователя только тем работникам, подрядчикам и агентам Администрации, которым эта информация необходима для обеспечения функционирования Сайта и предоставления Пользователю доступа к его использованию.</p>
            <p>5.6. Администрация сайта или ее представители не несут ответственность перед Пользователем или перед любыми третьими лицами за любой косвенный, случайный, неумышленный ущерб, включая упущенную выгоду или потерянные данные, вред чести, достоинству или деловой репутации, вызванный в связи с использованием сайта, содержимого сайта или иных материалов, к которым вы или иные лица получили доступ с помощью сайта.</p>
            <p>5.7. Настоящее Соглашение вступает в силу для Пользователя с момента регистрации на сайте и действует в течение неопределенного срока.</p>

        </div>
    </div>

{% endblock content %}
