@charset "UTF-8";

.admin-content h2 {
    margin-bottom: 18px;
}

.admin-content h3 {
    margin-bottom: 12px;
}

.admin-content table tr td {
    padding: 2px 4px;
}

.admin-content table tr.separator {
    border-bottom: solid 1px #EFEFEF;
}

.admin-content table tr td .statuses {
    float: left;
    margin-right: 10px;
}

.admin-content table.review tr td {
    padding: 3px 0;
}

.admin-content table tr td.button {
    width: 230px;
}

.admin-content table tr td.status {
    width: 40px;
    font-size: 12px;
}

.admin-content table tr td.status-text {
    width: 180px;
    font-size: 12px;
}

.admin-content table tr td.date {
    width: 80px;
}

.admin-content table tr td .item-content {
    margin: 8px 0;
}

.content_main__articles.cabinet .admin-content .cabinet_content__item-content {
    width: 900px;
    margin: 0 auto;
}

.content .content_main__articles.cabinet .tabs-admin li {
    background-color: #ffb612;
}

.content .content_main__articles.cabinet .tabs-admin li:hover, .content .content_main__articles.cabinet .tabs-admin li.active {
    background-image: url("../images/cabinet_ico_or.png");
}

.content .content_main__articles.cabinet .tabs-admin li:hover span, .content .content_main__articles.cabinet .tabs-admin li.active span {
    color: #ffb612;
}

.content .content_main__articles.cabinet .tabs-admin a {
    padding-left: 1px;
}

.admin-content {
    padding: 0 24px;
}

.admin-content a {
    font-size: 14px;
}

.admin-content a.button {
    font-size: 12px;
}

.admin-content a.blue_btn {
    font-size: 15px;
}

.admin-content a.change {
    vertical-align: top;
    margin-left: 4px;
}

.admin-content .block-template {
    margin-left: 12px;
    margin-bottom: 24px;
}

.admin-content ul.list {
    display: block;
    list-style: disc;
    line-height: 24px;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 2em;
}

.admin-content ul.list li {
    list-style: disc;
    display: list-item;
    line-height: 24px;
    text-align: -webkit-match-parent;
}

.statuses-description {
    font-size: 12px;
    margin: 8px;
}

.admin-content .statuses-description ul {
    display: block;
    list-style: disc;
    line-height: 24px;
    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0.1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 1.6em;
}

.admin-content .statuses-description ul li {
    list-style: disc;
    display: list-item;
    line-height: 24px;
    text-align: -webkit-match-parent;
}

.content .admin-content form input {
    font-size: 15px;
}

.shadow-grey-ins, .admin-content form input[type="text"] {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.input-border, .admin-content form input[type="text"] {
    resize: none;
    outline: none;
    border: 1px solid #e0e0e0;
}

.content .admin-content form input[type="text"], .admin-content form textarea {
    width: 460px;
    display: inline-block;
    padding: 5px 10px;
    color: #6d6e71;
    font-size: 15px;
    border-color: #bcbec0;
}

.content .admin-content form textarea {
    height: 60px;
}

.content .admin-content form select {
    width: 160px;
    height: 27px;
}


.admin-content .form-row {
    margin-bottom: 12px;
}

.admin-content form .form-label {
    color: #006593;
    font-size: 13px;
    margin-left: 4px;
}

.admin-content form .link-cancel {
    margin-left: 15px;
}

/*
.admin-content form .error_block {
    width: 482px;
}*/
