@charset "UTF-8";


.none {
    display: none;
}

span.error_message {
    color: #ff444b;
    text-shadow: 0 0 1px #ffa8b1;
    display: block;
    font-size: 11px;
    margin-bottom: 2px;
    margin-left: 4px;
}

span.error_message_big {
    color: #ff444b;
    text-shadow: 0 0 1px #ffa8b1;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 4px;
}

.waiting-container {
    position: relative;
    min-height: 40px;
}

.waiting-indicator {
    background: rgba(255, 255, 255, 0.75) url('../images/wait2.gif') no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.wait-load-file-indicator {
    background: rgba(255, 255, 255, 0.75) url('../images/apdate_file.gif') no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    width: 800px;
    height: 12px;
}