@charset "UTF-8";


.none {
    display: none;
}

.color-white {
    color: #FFFFFF;
}

.color-black {
    color: #000000;
}

tr.odd {
    background: #f5f7f9;
}

span.errors-for-input {
    color: #ff444b;
    text-shadow: 0 0 1px #ffa8b1;
    display: block;
    font-size: 11px;
    padding: 0 0 2px 5px;
    background-color: rgba(255, 0, 0, 0.15);
}

span.error_message {
    color: #ff444b;
    text-shadow: 0 0 1px #ffa8b1;
    display: block;
    font-size: 11px;
    margin-bottom: 2px;
    margin-left: 3px;
}

span.error_message_big {
    color: #ff444b;
    text-shadow: 0 0 1px #ffa8b1;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 4px;
}

span.caution-message {
    color: #ef833d;
    text-shadow: 0 0 1px #efc3a2;
}

.waiting-container {
    position: relative;
    min-height: 40px;
}

a.blue-link {
    color: #008dd2;
}

.content .content_main__articles.cabinet .tabs-profile-menu a {
    padding-left: 1px;
}

.content_main__articles-tile_header_title a {
    color: #008dd2;
    text-decoration: none;
}

.content_main__articles-tile_header_title a:hover {
    text-decoration: underline;
}

.waiting-indicator {
    background: rgba(255, 255, 255, 0.75) url('../images/wait2.gif') no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.wait-load-file-indicator {
    background: rgba(255, 255, 255, 0.75) url('../images/apdate_file.gif') no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    width: 800px;
    height: 12px;
}

.photo-logo-56 .photo {
    width: 56px;
    height: 56px;
    text-align: center;
    vertical-align: middle;
    /*border: 1px solid #dcdcdc;*/
    padding: 2px;
    display: table-cell;
}

.photo-logo-56 .photo-img {
    max-width: 56px;
    max-height: 56px;
    text-align: center;
    vertical-align: middle;
}

.photo-logo-100 .photo-img {
    max-width: 100px;
    max-height: 100px;
    text-align: center;
    vertical-align: middle;
}

.photo-logo-100 .photo {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    /*border: 1px solid #dcdcdc;*/
    padding: 2px;
    display: table-cell;
}

.but-blue-approved {
    border: none;
    display: inline-block;
    background-color: #28a5de;
    font-size: 18px;
    color: #FFFFFF;
    padding: 2px 10px 0 2px;
    margin-right: 16px;
}

.but-red-disallow {
    border: none;
    display: inline-block;
    background-color: #ff0601;
    font-size: 18px;
    color: #FFFFFF;
    padding: 2px 10px 0 2px;
    margin-right: 16px;
}

.border-status-user {
    border: solid 1px #28a5de;
}