{% extends 'ApplicationUsersBundle::layout_profile.html.twig' %}


{% block content_profile %}


<div class="cabinet_content__item invite active">
    <div class="cabinet_content__item-content">

        АНКЕТА

    </div>
</div>


{% endblock content_profile %}
