{% extends 'ApplicationUsersBundle::layout_profile.html.twig' %}


{% block content_profile %}


<div class="cabinet_content__item settings active">
    <div class="cabinet_content__item-content">
        <form action="#">

            <div class="about_wrap">

                <h2>о себе</h2>

                <div class="avatar_w">
                    <div class="img_w">
                        <img src="{{ asset('images/not_optimize/girl_01.jpg') }}" alt="name"/>
                    </div>
                    <label for="avatar_ch"></label>
                    <input id="avatar_ch" type="file" value="изменить фото"/>
                </div>

                <div class="form_row">
                    <label for="name">Имя</label>
                    <input id="name" type="text"/>
                </div>
                <div class="form_row">
                    <label for="lastname">Фамилия</label>
                    <input id="lastname" type="text"/>
                </div>
                <div class="form_row">
                    <label for="age">Возраст</label>
                    <input id="age" type="text"/>
                </div>
                <div class="form_row">
                    <label for="activities">Род занятий</label>
                    <input id="activities" type="text"/>
                </div>

                <div class="form_row submit_row">
                    <input type="submit" value="Сохранить"/>
                </div>

            </div>

            <hr/>

            <div class="pass_wrap">

                <h2>смена пароля</h2>

                <div class="form_row">
                    <label for="oldpass">Старый пароль</label>
                    <input id="oldpass" type="password"/>
                </div>
                <div class="form_row">
                    <label for="newpass">Новый пароль</label>
                    <input id="newpass" type="password"/>
                </div>
                <div class="form_row">
                    <label for="renewpass">Новый пароль</label>
                    <input id="renewpass" type="password"/>
                </div>

                <hr/>

                <div class="form_row submit_row">
                    <input type="submit" value="Сохранить"/>
                </div>

            </div>

        </form>
    </div>

</div>


{% endblock content_profile %}
