{% extends 'ApplicationUsersBundle::layout_profile.html.twig' %}


{% block content_profile %}


<div class="cabinet_content__item status active">
    <div style="margin: 0 28px 0 28px;">

        {% for key, status in statuses  %}

            <div style="margin-bottom: 18px; padding: 6px 0;" {% if userStatus == key %}class="border-status-user"{% endif %}>
                <table width="100%">
                    <tr >
                        <td style="width: 200px;">
                            <div style="margin: 16px;">
                                <div class="status_medal" style="padding-top: 5px;">
                                    {#<i></i>#}
                                    <div><img src="{{ asset('images/medal_'~key~'.png') }}" alt=""></div>
                                </div>
                                <div class="status_title">
                                    {% set name_status = 'templates.names.statuses_profile.'~key %}
                                    <span>{{ name_status |trans }}</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="padding-left: 20px;">
                                Нужно набрать {{ status.scores }} балов
                            </div>
                        </td>
                        <td>
                            <div class="status_txt">
                                {{ status.description |raw }}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        {% endfor %}

    </div>
</div>


{% endblock content_profile %}
