{% extends 'ApplicationAdminBundle::layout.html.twig' %}


{% block content %}


<h2>Главная страница</h2>
<p>Основной слайдер <a href="{{ path('application_admin_templates_change_main_slider') }}">Изменить</a></p>


{% endblock content %}
