<div class="popup_wrap_content_title">
    <h3 class="title"><strong>Покупка приза</strong></h3>
</div>

<div class="popup_wrap_content_txt">
    {#<p>{{ contest.description }}</p>#}
    <p>{{ prize.title }} / - {{ prize.scoresBuy.points }}</p>
</div>

{% if errorMessage %}
    <div>
        <span class="caution-message">
            {% if errorMessage == 'isEnoughBalls' %}
                Купить приз невозможно, нет нужного уровня или недостаточно баллов
            {% endif %}
            {% if errorMessage == 'notShippingAddress' %}
                Вы не укзали индекс и адрес доставки. Заполните ваш профиль.
            {% endif %}
            {% if errorMessage == 'notBallsForPrize' %}
                Не указаны баллы за приз
            {% endif %}
            {% if errorMessage == 'userIsMemberLottery' %}
                Вы уже учавствуете в лотереи с данным призом
            {% endif %}
        </span>
    </div>
{% else %}
    <p style="margin-bottom: 12px;">
        <span class="confirm-message">
            {% if message == 'bidParticipationLottery' %}
                Ваша заявка на участие в розыгрыше приза получена
            {% endif %}
            {% if message == 'prizeSendEmail' %}
                Приз будет отправлен на ваш адрес
            {% endif %}
        </span>
    </p>
    <a href="" class="blue_btn"  style="width: 70px; text-align: center;">Ok</a>
{% endif %}

