<div class="popup_wrap_content_title">
    <h3 class="title"><strong>Покупка приза</strong></h3>
</div>

<div class="popup_wrap_content_txt">
    {#<p>{{ contest.description }}</p>#}
    <p>{{ prize.title }} / - {{ prize.scoresBuy.points }}</p>
</div>

{% if errorMessage %}
    <div>
        <span class="caution-message">
            {% if errorMessage == 'isEnoughBalls' %}
                Купить приз невозможно, нет нужного уровня или недостаточно баллов
            {% endif %}
            {% if errorMessage == 'notShippingAddress' %}
                Вы не укзали индекс и адрес доставки. Заполните ваш профиль.
            {% endif %}
        </span>
    </div>
{% else %}
    <p><span class="confirm-message">Приз будет отправлен на ваш адрес</span></p>
{% endif %}

