<div class="front_slider_wrap_content-item">
    <div class="front_slider_wrap_content-item_img">
        <img src="{{ asset('images/not_optimize/slider_img_01.png') }}" />
    </div>
    <div class="front_slider_wrap_content-item_txt color-white">
        <strong>Скидки 30% <br/>для всех членов</strong>
        Клуба Почасовой Муж
    </div>
</div>